.Propsnavapp {
    text-align: center;
  }
  
  /* .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  } */
  .Nav{
    position: relative;
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
    height: 5vh;
     width: 50vw;
    display: flex;
    align-items: center;
  border:  2px solid rgb(255, 208, 0);
     
  }
  li{
   
    list-style-type: none;
    height: 70%;
    width: 10vh;
    text-align: center;
  padding-top: 0.3vh;
  box-sizing: border-box;
  margin-left: auto;
   margin-right: auto;
   /* border: 1px solid red; */
   font-family: cursive;
   transition-duration: 2s;
   transition-property: transform;
  }
  
  
  
  
  li:hover{
   
  /* border-radius: 10%; */
  transform: rotate3d(0, 0, 1, 360deg);
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 18px;
    color:rgb(231, 10, 231)
  
  
  }
     
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  